<h2>Total songs: {{ totalCount }}</h2>
<ul>
  {{#each songs}}
    <li>
      Song Name: {{ Songname }}<br>
      Film Name: {{ Film }}<br>
      Music Director: {{ Music_director }}<br>
      Singer: {{ singer }}<br>
      Actor: {{ actor }}<br>
      Actress: {{ actress }}
    </li>
  {{/each}}
</ul>
